<%= form_for menu do |f| %>
  <%= f.hidden_field :user_id %>
  <p>Week Ending<br>
  <%= f.date_select :menu_date %></p>

  <p>Monday Lunch<br>
  <%= f.text_area :monday_lunch %>

  <p>Monday Dinner<br>
  <%= f.text_area :monday_dinner %></p>

  <p>Tuesday Lunch<br>
  <%= f.text_area :tuesday_lunch %></p>

  <p>Tuesday Dinner<br>
  <%= f.text_area :tuesday_dinner %></p>

  <p>Wednesday Lunch<br>
  <%= f.text_area :wednesday_lunch %></p>

  <p>Wednesday Dinner<br>
  <%= f.text_area :wednesday_dinner %></p>

  <p>Thursday Lunch<br>
  <%= f.text_area :thursday_lunch %></p>

  <p>Thursday Dinner<br>
  <%= f.text_area :thursday_dinner %></p>

  <p>Friday Lunch<br>
  <%= f.text_area :friday_lunch %></p>

  <p>Friday Dinner<br>
  <%= f.text_area :friday_dinner %></p>

  <p>Saturday Lunch<br>
  <%= f.text_area :saturday_lunch %></p>

  <p>Saturday Dinner<br>
  <%= f.text_area :saturday_dinner %></p>

  <p>Sunday Lunch<br>
  <%= f.text_area :sunday_lunch %></p>

  <p>Sunday Dinner<br>
  <%= f.text_area :sunday_dinner %></p>
  <p>Select Recipes Used For This Menu</p>
  <%= f.collection_check_boxes :recipe_ids, Recipe.all, :id, :name %>

  <%= f.submit %>
<% end %>
