<%= form_for menu do |f| %>
  <p>Menu Name: <%= f.text_field :name %></p>
  <p>
    Monday Lunch: <%= f.text_field :monday_lunch %>
    Recipe: <%= f.collection_check_boxes :recipe_ids, Recipe.all, :id, :name%>
  </p>
  <%= f.submit %>
<% end %>
