<%= form_for(recipe) do |f| %>
  <%= f.hidden_field :user_id %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Method: <%= f.text_area :method %></p>
  <p>Notes: <%= f.text_area :notes %></p>
  <p><%= f.submit %></p>
<% end %>
