<%= form_for recipe do |f| %>
  <%= f.hidden_field :user_id %>
  <p>Name: <%= f.text_field :name %></p>
  <%= f.fields_for :amounts do |a| %>
    <p>
      Amount: <%= a.text_field :ingredient_amount %>
      <%= a.fields_for :ingredient do |i| %>
        Unit: <%= i.text_field :unit %>
        Ingredient: <%= i.text_field :name %>
      <% end %>
    </p>
    <% end %>
  <p>Method: <%= f.text_area :method %></p>
  <p>Notes: <%= f.text_area :notes %></p>
  <p><%= f.submit %></p>
<% end %>
<!-- #, a.object.build_ingredient -->
