<h1><%= @recipe.name %></h1>
<% @recipe.amounts.each do |a| %>
  <% if !a.ingredient_amount.empty? %>
    <h3><%= "#{a.ingredient.name}: #{a.ingredient_amount} #{a.ingredient.unit}"%></h3>
  <% end %>
<% end %>
<h4>Method</h4>
<p><%= @recipe.method %></p>
<h4>Notes</h4>
<p><%= @recipe.notes %></p>
<%= link_to "Edit", edit_user_recipe_path(@recipe) %>
<%= link_to "Delete", "/users/#{@recipe.user_id}/recipes/#{@recipe.id}", method: :delete %>
