<h1><%= @user.name %></h1>
<%= form_tag user_recipes_path(@user), method: "get" do %>
  Search by Ingredient <%= text_field_tag :item %>
  <%= submit_tag "Search" %>
<% end %>
<% @user.recipes.each do |recipe| %>
  <p><%= link_to recipe.name, user_recipe_path(@user, recipe) %></p>
<% end %>
