<h1><%= @user.name %></h1>
<%= form_tag user_recipes_path(@user), method: "get" do %>
  Search by Ingredient <%= text_field_tag :item %>
  <%= submit_tag "Search" %>
<% end %>
<p>Click <%= link_to "here", user_recipes_path(@user) %> to see Entrees not used in the last 6 weeks</p>
<h3>Recipes</h3>
<% @user.recipes.each do |recipe| %>
  <p><%= link_to recipe.name, user_recipe_path(@user, recipe) %></p>
<% end %>
<h3><%= link_to "Menus", user_menus_path(@user) %></h3>
<% @user.menus.each do |menu| %>
  <p><a href="#" data-id="<%= menu.id %>" onclick="Menu.getMenu('/users/<%= menu.user_id %>/menus/<%= menu.id %>.json')"><%= menu.menu_date %></a></p>
<% end %>
