<!DOCTYPE html>
<html>
  <head>
    <title>Chefs Toolbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
  </head>

  <body>
    <% if session[:id] %>
      <%= link_to "Home", user_path(session[:id]) %>
      <%= link_to "New Recipe", new_user_recipe_path(session[:id]) %>
      <%= link_to "New Menu", new_user_menu_path(session[:id]) %>
      <a href="#" onclick="Ingredient.inventoryTable()">Inventory</a>
      <%= link_to "Log Out", sessions_path, method: :delete %>
    <% end %>
    <div id="homePage">
      <%= yield %>
    </div>
  </body>
</html>
