<!DOCTYPE html>
<html>
  <head>
    <title>Chefs Toolbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:id] %>
      <%= link_to "Home", user_path(session[:id]) %>
      <%= link_to "New Recipe", new_user_recipe_path(session[:id]) %>
      <%= link_to "New Menu", new_user_menu_path(session[:id]) %>
      <%= link_to "Log Out", sessions_path, method: :delete %>
    <% end %>
    <%= yield %>
    <footer>
      <%= link_to "Menus From Other Chefs", menus_path %>
    </footer>
  </body>
</html>
